<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Natours</title>
    <link rel="stylesheet" type="text/css" href="/sass/natours.css">
  </head>
  <body>
    <h1>Welcome To The Natours Project</h1>


  </body>
  <script type="text/javascript" src="/js/natours.js">
  </script>
</html>
